.section{
    max-width: 1200px;
    margin: 0 auto;
}
/* banner */
.banner_flow{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}
.right_sec_banner{
    width: 56%;
    flex: 1 0 50%;
    position: absolute;
    right: 0;
    height: 100%;
    background: url(img/action/banner_top_fon.png);
}
.banner_flow .title{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    
    color: #39338A;
}
.banner_flow .banner_text{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 70px;
}
.banner_flow .banner_text .btn_custom{
    display: block;
    margin: 30px auto 0 auto;
    max-width: 270px;
}
.banner_flow .under_title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 46px;
    line-height: 56px;
    text-align: center;

    color: #404040;

}
.banner_flow .disclemer{
    position: absolute;
    bottom: 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    color: #3A296A;

    max-width: 284px;
    left: 35%;
}
/**/
.imlant_section{
    max-width: 1200px;
    margin: 0 auto;
}
.implant_wrap{
    display: flex;
    justify-content: space-between;

}
.implant_price_img{
    background: url('img/action/price.png');
    width: 560px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;

}
.implant_price_wrapper{
    padding: 25px 145px;

    text-align: center;
}
.implant_ostem1,
.implant_ostem2{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 46px;
    line-height: 56px;
}

.implant_ostem1{

}
.implant_ostem2{
    color: rgba(105, 95, 219, 1);
    text-transform: uppercase;
}
.implant_price_info{
    padding-top: 5px;
}
.implant_price_val{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 46px;
    color: #fff;
    padding: 5px 0px;
    background: linear-gradient(102.92deg, #695FDB 19.06%, #39338A 105.5%);
    border-radius: 10px;
}

.implant_price_text{
    padding-top: 8px;
    color: #404040;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
}
.implant_price_text span{
    font-size: 20px;
}
.price_disclemer{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    color: #404040;
    margin: 150px auto 0 auto;
    max-width: 520px;
}
/* .zub_block img{
    display: block;
} */
.zub_block .btn_custom{
    margin-left: 80px;
    margin-top: 70px;
}
.price_disclemer.mob{display: none;}
.desktop_zub{display: block;}
.mob_zub{display: none;}
/* conscurs */
.concurs_section{
    margin-top: 150px;
}
.concurs_title{
    font-size: 22px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;

    color: #404040;

    max-width: 820px;
    margin: 0 auto;
}
.concurs_doctors_block{
    padding: 0 85px;
    display: flex;
    justify-content: space-between;
}
.concurs_doctors_block .doctor_item{
    max-width: 230px;
    transition: transform 0.3s ease;
}
.concurs_doctors_block .doctor_item:hover{
    transform: scale(1.07);
    transition: transform 0.3s ease;
}
.concurs_doctors_block .doctor_item_img{
    max-height: 230px;
    height: 230px;
    overflow: hidden;
}
.concurs_doctors_block .doctor_item:last-child img{ /* последняя фото    */
    height: 100%;
}
.concurs_doctors_block .info{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    min-height: 200px;
    padding-top: 30px;
}
.concurs_doctors_block .info .name{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;
    padding: 0 23px;
    margin: 0;
    min-height: 44px;
}
.concurs_doctors_block .info .text{
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #000000;
    padding: 0px 15px 0 15px;
}
.concurs_doctors_block .info .text ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/**/

.timeinstall_section{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timeinstall_block{
    position: relative;
    margin-left: 60px;
    width: 60%;
    /* filter: drop-shadow(0px 4px 20px #695FDB); */
}
.timeinstall_info{
    position: relative;
    border: 1px solid #695FDB;
    box-sizing: border-box;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;

    color: #404040;

    padding: 48px 30px;
}
.timeinstall_info p{
    text-align: center;
}
.timeinstall_info p span{
    color: #39338A;
}
.timeinstall_block .btn_custom{
    margin-top: 35px;
    margin-left: 30%;
}
.zub_fly1{
    position: absolute;
    left: -40px;
    top: 5px;
}
.zub_fly2{
    position: absolute;
    bottom: -110px;
    right: -5px;
}
/**/

.benefit_section{
    margin-top: 80px;

}
.action_title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
}
.action_title span:first-child{
    color: #404040;
}
.action_title span:last-child{
    color: #39338A
}
.benfit_block{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 981px;
    margin: 67px auto 0 auto;
}
.benefit_item{
    max-width: 230px;
}
.benefit_item img{
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}
.benefit_item img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.2);
}
.benefit_item p{
    text-align: center;
    margin: 0;
    padding: 15px 0 0 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}
.benefit_item p span{
    color: #39338A;
}

.benefit_price{
    position: absolute;
    background: url(img/action/circle_benefit.svg);
    width: 479px;
    height: 393px;
    z-index: -1;
    background-size: contain;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.benefit_price .benefit_price_title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #404040;
    margin-top: -15px;
}
.benefit_row1 .benefit_item:last-child,
.benefit_row2 .benefit_item:last-child{
    padding-top: 100px;
}

.benefit_price_val{
    position: absolute;
    width: 100%;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    
}

.benefit_price_val-old{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    padding-left: 35px;
    
    color: #404040;
}
.benefit_price_val-old span{
    position: relative;
}
.benefit_price_val-old span:before{
    content: '';
    position: absolute;
    border-top: 1.5px solid #000000;
    transform: rotate(-16.57deg);
    width: 100%;
    top: 15px;
}
.benefit_price_val-new{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 70px;
    line-height: 1;
    text-align: center;

    color: #39338A;
}
.benefit_section  .btn_custom{
    display: block;
    margin: 35px auto 0 auto;
    max-width: 270px;
}
/* cond act */
.condition_section{
    margin-top: 170px;
}
.condition_block{
    margin-top: 40px;
    margin-bottom: 85px;
    background: linear-gradient(272.06deg, #39338A 7.27%, #695FDB 100.98%);
    padding: 42px 73px;
}
.condition_block .cond_text{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}
.condition_block .cond_text ul{
    list-style: none;
}
.cond_banner{
    position: relative;
    background: url(img/action/cons_banner.png);
    height: 732px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 45px;
}
.cond_banner:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 117px;
    transform: translateY(0) skewY(358deg);
    background: #ffffff;
    top: -45px;
}
.cond_banner:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 117px;
    transform: translateY(0) skewY(358deg);
    background: #ffffff;
    bottom: -45px;
}
.banner_form{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
    backdrop-filter: blur(6px);
    border-radius: 10px;
}
.banner_form_text{
    padding: 105px 40px 105px 50px;
    max-width: 557px;
}
.banner_form_text .title{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    
    color: #000000;
    padding-bottom: 23px;
}
.banner_form_text .title span{
    color: #39338A;
}
.banner_form_text .undertitle{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}
.cond_banner .btn_custom{
    position: relative;
    display: block;
    max-width: 350px;
    margin: 43px auto 0 auto; 
    text-align: left;
}
.cond_banner .btn_custom:after{
    content: '';
    background: url(img/action/cond_banner_btn_icon.png);
    width: 125px;
    height: 94px;
    position: absolute;
    top: -15px;
}
/*  */
/* stages */
.stage_section{
    margin-top: 110px;
}
.stage_title{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    padding-left: 60px;

    color: #000000;
}
.stages_block{
    margin-top: 15px;
    background: url('img/action/stages_fon.png');
    background-repeat: no-repeat;
    background-position: center -20px;
}
.stage_item{
    position: relative;
}

.stage_item.first > img{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}
.stage_item.second{
    float: right;
}
.stage_item.second:after{
    content: '';
    clear: both;
    display: table;
}
.stage_item.third{
    clear: both;
}
.stage_item.third .stage_item-point{
    max-width: 60%;
}
.stage_item.third > img{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.stage_item.second .stage_item-point{
    /* flex-flow: row-reverse; */
}
.img_stage_3_4{
    position: absolute;
    left: -35%;
    top: 50%;
    transform: translate(0, -50%);

    border: 1.5px solid #695FDB;
    box-sizing: border-box;
    /* filter: drop-shadow(0px 4px 20px #695FDB); */
    border-radius: 50%;

    width: 209px;
    height: 209px;
}
.img_stage_3_4 img{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stage_item.second img{

}
.stage_item.second ul li{
    text-align: left;
}
.stage_item-point{
    display: flex;
    align-items: center;
}
.stage_item-point > span{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 120px;
    line-height: 146px;
    text-align: center;

    color: #39338A;
    display: inline-block;
    width: 70px;
}
.stage_item-point ul li{
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    color: #000000;
    list-style: none;
}
.stage_item-point ul li::before{
    content: '';
    position: absolute;
    left: -15px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #000;
    top: 12px;
}
.stage_item-point ul{
    padding: 0;
    margin: 0 0 0 45px;
    list-style: none;
}
/**/

.smiles_section{
    position: relative;
    margin-top: 170px;
}
.smiles_block{
    margin: 55px auto 0 auto;
    position: relative;
}
.smiles_block .smile_img:first-child{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
}
.smiles_block .smile_img:first-child i{
    position: absolute;
    top: -25px;
    border-radius: 50%;
    width: 206px;
    height: 206px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1.5px solid #695FDB;
    box-shadow: 0px 4px 30px rgb(105 95 219 / 80%);
    z-index: -1;
}
.smiles_block .smile_img:last-child{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}
.smiles_block .smile_img:nth-child(2) i{
    position: absolute;
    width: 141px;
    height: 141px;
    border: 1.5px solid #695FDB;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px #695fdb;
    z-index: -1;
    border-radius: 50%;
    bottom: 40px;
    left: 65%;
}
.smiles_block img{
    display: block;
    margin: 0 auto;
}
.smiles_block.desctop{display: block;}
.smiles_block.mobile{display: none;}
.license_wrap{
    position: relative;

}

.license_section{
    position: relative;
    margin-top: 125px;
}
/*slider*/
.license_slider.flexslider{
    max-width: 841px;
    margin: 40px auto 90px auto;
}
.nav_license{
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.nav_license a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #39338A;
}
.nav_license a:before{
    content: '';
    position: absolute;
    background: url('img/action/slider_arrow.svg');
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.nav_license a.prev{float: left; left: -120px;}
.nav_license a.next{float: right; right: -120px;}
.nav_license a.next:before{
    transform: translate(-50%, -50%) rotate(180deg);
}
.license_section .btn_custom{
    display: block;
    max-width: 270px;
    margin: 0 auto;
}
/**/
.zdorovie_section{
    margin-top: 120px;
    padding-bottom: 95px;
}
.zdorovie_items{
    display: flex;
    margin: 60px 95px 0 95px;
    /* width: 100%; */
    justify-content: space-between;

    flex-flow: column;
}
.zdorovie_first_line,
.zdorovie_second_line,
.zdorovie_third_line{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.zdorovie_second_line{
    margin: 60px 0;
}
.zdorovie_item{
    position: relative;
    transition: transform 0.3s ease;
}
.zdorovie_item:hover{
    transform: scale(1.07);
    transition: transform 0.3s ease;
}
.zdoroview_item-name{
    position: relative;
    text-align: center;
    line-height: 57px;
    height: 57px;
    width: 110%;
    left: -5%;
    border-radius: 10px;
    bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;

    color: #404040;
}
.zdoroview_item-name span{
    color: #39338A;
}
.jaw img{
    position: absolute;
}
.zdorovie_wrap{
    position: relative;
    background: 
        url(img/action/zdorovie.png) left 120px no-repeat,
        url(img/action/jaw.png) bottom right no-repeat;
}
.zdorovie_section{
    
}
/* btn */
.btn_custom{
    display: inline-block;
    color: #fff;
    background: linear-gradient(98.38deg, #695FDB 22.43%, #39338A 95.58%);
    box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 40px;
    text-align: center;
}
.btn_custom:hover{
    background: #BC0868;
    color: #fff;
    text-decoration: none;
}

.zdorovie_items.desctop{display: flex;}
.zdorovie_items.mob{display: none;}

.zub_fly_banner1{
    position: absolute;
    right: 5%;
    top: 10%;
}
.zub_fly_banner2{
    position: absolute;
    left: 15%;
    top: 15%;
    filter: blur(2px);
    transform: rotate(-80deg) scale(1.3);
}
.zub_fly_banner3{
    position: absolute;
    right: 0;
    bottom: 7%;
    transform: scale(2);
    filter: blur(2px);
}
.smiles_fly1,
.smiles_fly2,
.smiles_fly3{
    position: absolute;
}
.smiles_fly1{
    right: 0;
    filter: blur(2px);
    transform: rotate(-75.32deg);
}
.smiles_fly3{
    bottom: 0;
    left: -2%;
    filter: blur(2px);
    transform: rotate(-3.32deg);
}
.license_fly1{
    position: absolute;
    right: 30px;
    filter: blur(2px);
    transform: scale(2);
}
.license_fly2{
    position: absolute;
    bottom: 15%;
    transform: rotate(-75deg);
    filter: blur(2px);
}
.fly_timeins_mob1,
.fly_timeins_mob2{
    display: none;
}
.fly_timeins_mob1{
    right: -10px;
    filter: blur(2px);
    transform: rotate(-70deg) scale(0.5);
    top: -29px;
}
.fly_timeins_mob2{
    bottom: 30px;
    left: -50px;
    filter: blur(2px);
}


@media(max-width: 768px){
    
    .zub_fly_banner1,
    .zub_fly_banner2,
    .zub_fly_banner3
    {
        display: none;
    }
    .smiles_fly3{
        left: -6%;
    }
    .license_fly1{
        position: absolute;
        right: -30px;
        filter: blur(2px);
        transform: scale(1);
        top: 90px;
    }
    .license_fly2{
        bottom: 5%;
        left: -7%;
    }
    .license_wrap{
        overflow: hidden;
    }
    .banner_flow{
        display: block;
        margin-bottom: -10px;
    }
    .banner_flow img{
        max-width: 100%;
    }
    .right_sec_banner{
        position: relative;
        width: 100%;
        flex: unset;
        right: unset;
        background: url(img/action/banner_top_fon_mob.svg);
        background-size: cover;
        top: -80px;
    }
    .banner_flow .banner_text{
        position: static;
        padding-left: unset;
        transform: unset;
        padding-top: 80px;
    }
    .banner_flow .title,
    .banner_flow .under_title{
        font-size: 16px;
        line-height: 19px;
    }
    .banner_flow .under_title p{
        display: inline;
    }
    .banner_flow .banner_text .btn_custom{
        font-size: 12px;
        padding: 10px 0px;
        max-width: 190px;
    }
    .banner_flow .disclemer{
        position: static;
        margin: 42px auto 0 auto;
    }
    .cond_banner .btn_custom{
        margin: 15px auto 0 auto;
        font-size: 6px;
        padding: 0px 0px;
        text-align: center;
        max-width: 114px;
    }
    .cond_banner .btn_custom:after{
        width: 43px;
        height: 32px;
        background-size: contain;
        background-repeat: no-repeat;
        top: -7px;
    }
    .implant_wrap{
        flex-flow: column-reverse;
    }
    .implant_price_img{
        margin: 0 35px;
        width: auto;
        height: auto;
    }
    .implant_ostem1, .implant_ostem2{
        font-size: 25px;
        line-height: 30px;
    }
    .implant_price_info{
        padding-top: 0;
    }
    .implant_price_wrapper{
        padding: 25px 40px;
    }
    .implant_price_img{
        background-position: center;
    }
    .implant_price_val{
        font-size: 20px;
        line-height: 24px;
        max-width: 145px;
        margin: 10px auto 0 auto;
    }
    .implant_price_text{
        font-size: 10px;
    }
    .implant_price_text span{
        font-size: 16px;
    }
    .desktop_zub{display: none;}
    .mob_zub{display: block; margin: 32px auto 0 auto;}
    .price_disclemer{display: none;}
    .price_disclemer.mob{display: block; font-size: 8px; margin: 40px auto 0 auto; padding: 0 10px;}
    .zub_block .btn_custom{
        display: block;
        font-size: 12px;
        padding: 9px 20px;
        margin: 40px auto 0 auto;
        max-width: 170px;
    }
    .concurs_section{
        margin-top: 75px;
    }
    
    .concurs_title{
        font-size: 16px;
        padding: 0 12px;
        line-height: 19px;
    }
    .concurs_doctors_block{
        flex-flow: column;
        align-items: center;
    }
    .concurs_doctors_block .doctor_item{
        margin-bottom: 10px;
    }
    .timeinstall_section .timeinst_doc_img,
    .timeinstall_section .zub_fly1,
    .timeinstall_section .zub_fly2{
        display: none;
    }
    .timeinstall_info{
        font-size: 14px;
        line-height: 17px;
        padding: 24px 14px;
        width: 305px;
        margin: 0 auto;
        margin-left: 0;
    }
    .timeinstall_block{
        width: auto;
        margin-left: 0;
        margin: 0 auto;
    }
    .timeinstall_block .btn_custom{
        font-size: 12px;
        margin: 35px auto 0 auto;
        display: block;
        max-width: 170px;
        padding: 8px 0;
    }
    .fly_timeins_mob1,
    .fly_timeins_mob2
    {
        display: block;
        position: absolute;
    }
    .action_title{
        font-size: 16px;
        line-height: 19px;
    }



    .benefit_section{
        margin-top: 70px;
    }
    .benfit_block{
        display: block;
        margin: 35px auto 0 auto;
    }
    .benefit_row1, .benefit_row2{
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }
    .benefit_item img{
        max-width: 72px;
    }
    .benefit_item p{
        font-size: 12px;
        font-weight: 400;
    }
    .benefit_price_val,
    .benefit_price{
        position: static;
        transform: unset;
    }
    .benefit_price_val{
        margin-top: 40px;
    }
    .benefit_price .benefit_price_title{
        font-size: 14px;
        position: relative;
        top: -25px;
        margin-top: 0;
    }
    .benefit_price_val-new{
        font-size: 35px;
    }
    .benefit_price_val-old{
        font-size: 10px;
        display: block;
        margin: 0 auto;
        max-width: 200px;
        padding-left: 5px;
    }
    .benefit_price_val-old span:before{
        top: 6px;
    }
    .benefit_price{
        margin-top: 50px;
        background: url(img/action/circle_benefit_mob.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 207px;
    }
    .benefit_section .btn_custom{
        font-size: 12px;
        max-width: 170px;
        padding: 9px 20px;
    }

    .condition_section{
        margin-top: 60px;
    }
    .condition_block{
        padding: 16px 73px;
        margin-top: 18px;
        margin-bottom: 15px;
    }
    .condition_block .cond_text{
        font-size: 12px;
        line-height: 14px;
        
    }
    .condition_block .cond_text ul{
        padding: 0;
    }
    .cond_banner{
        height: 230px;
        background: url(img/action/test.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .cond_banner::before,
    .cond_banner::after{
        display: none;
    }
    .cond_banner:before{
        top: -15px;
        height: 67px;
    }
    .banner_form_text{
        max-width: 224px;
        padding: 28px 10px 28px 10px;
    }
    .banner_form_text .title{
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        padding-bottom: 8px;
    }
    .banner_form_text .undertitle{
        font-size: 8px;
        line-height: 9px;
        text-align: center;
    }
    .banner_form{
        left: 10px;
        /* display: none; */
    }
    .stage_section{
        margin-top: 10px;
    }
    .stages_block{
        padding: 0 15px;
        background: url(img/action/stages_fon_mob.png);
        background-repeat: no-repeat;
        background-position: right 70px;
    }
    .stage_title{
        padding-left: 0;
        text-align: center;
        font-size: 16px;
    }
    .img_stage_3_4 img,
    .stage_item.first > img{
        display: none;
    }
    .img_stage_3_4{
        border: none;
    }
    .stage_item-point{
        margin-bottom: 16px;
    }
    .stage_item.second{
        float: left;
    }
    .stage_item-point > span{
        font-size: 50px;
        width: 30px;
        line-height: 60px;
    }
    .stage_item-point ul li{
        font-size: 10px;
    }
    .stage_item-point ul li::before{
        width: 2px;
        height: 2px;
        left: -10px;
        top: 12px;
        transform: unset;
    }
    .stage_item-point ul{
        margin: 0 0 0 25px;
    }
    .stage_item.third .stage_item-point{
        max-width: 100%;
    }
    .stage_item.third > img{
        position: static;
        transform: unset;
        display: block;
        max-width: 85%;
        margin: 0 auto;
    }
    .smiles_section{
        margin-top: 70px;
    }
    .smiles_block.desctop{display: none;}
    .smiles_block.mobile{display: block;}
    .smiles_block{
        padding: 0 15px;
        margin: 25px auto 0 auto;
    }
    .smiles_block .smile_img:first-child{
        margin-right: 10%;
    }
    .smiles_block .smiles_top .smile_img{
        position: relative;
        transform: unset;
        max-width: 45%;
    }
    .smiles_block > .smile_img:last-child{
        position: static;
        transform: unset;
        max-width: 80%;
        margin: 0 auto;
    }
    .smiles_block .smile_img img{
        max-width: 100%;
    }
    .smiles_top{
        display: flex;
        flex-wrap: wrap;
    }
    .smiles_block .smile_img:nth-child(2) i{
        bottom: -20px;
        width: 114px;
        height: 114px;
    }
    .smiles_block .smile_img:first-child i{
        width: 64px;
        height: 64px;
        top: 70px;
        left: 30%;
    }

    .license_slider.flexslider{
        max-width: 80%;
        margin: 30px auto 30px auto;
    }
    .nav_license a{
        width: 23px;
        height: 23px;
    }
    .nav_license a::before{
        width: 16px;
        height: 16px;
        background-size: cover;
    }
    .nav_license a.next{
        
        right: -30px;
    }
    .nav_license a.prev{
        left: -30px;
    }
    .license_section{
        margin-top: 75px;
    }
    .license_section .btn_custom{
        font-size: 12px;
        max-width: 170px;
        padding: 9px 20px;
    }
    .zdorovie_section{
        margin-top: 30px;
    }
    .zdorovie_items.desctop{display: none;}
    .zdorovie_items.mob{display: block;}
    .zdorovie_items{
        margin: 30px auto 0 auto;
        padding: 0 20px;
    }
    .zdorovie_item{
        margin: 0 auto;
    }
    .zdorovie_item img{
        display: block;
        margin: 0 auto;
    }
    .zdoroview_item-name{
        font-size: 14px;
        width: 100%;
        left: 0;
    }
    .zdorovie_item{
        margin-bottom: 20px;
    }
    .zdorovie_wrap{
        background: url(img/action/zdorovie.png) left 120px no-repeat , url(img/action/jaw_mob.png) bottom right no-repeat;
        background-size: 80%, 100%;
    }
}
@media(min-width: 365px) and (max-width: 768px){
    .cond_banner{
        height: 370px;
        background-size: cover;
    }
    .banner_form_text{
        max-width: 284px;
        padding: 38px 20px 28px 20px;
    }
}