body .maxwidth-theme{
    /* max-width: 1344px; */
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 100%;
    position: relative;
    width: 100%;
}
@media (min-width: 1200px){
    .maxwidth-theme .container{
        width: 1362px;

        /**/
        margin: 0 auto;
    }
}

.section_head{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #4F4F4F;
    font-size: 46px;
    text-align: center;
}
.section_head span{
    font-size: 55px;
    
    background: repeating-linear-gradient(white, white 0px, #F847C6 0px, #906CE2
    0px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_line{
    position: relative;
    height: 6px;
    margin-top: 19px;
    background: rgb(161,140,209);
    background: linear-gradient(180deg, rgba(161,140,209,1) 0%, rgba(251,194,235,1) 150%);
}
.section_line:before{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background: rgb(161,140,209);
    background: linear-gradient(180deg, rgba(161,140,209,1) 0%, rgba(251,194,235,1) 150%);
    transform: rotate(-130deg);
    z-index: -1;
    top: -17px;
    left: -38px;

}
.section_line:after{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background: rgb(161,140,209);
    background: linear-gradient(180deg, rgba(161,140,209,1) 0%, rgba(251,194,235,1) 150%);
    transform: rotate(-130deg);
    z-index: -1;
    right: -39px;
    top: -13px;
}


.section_yes{
    margin-top: 57px;

}
.section_title{
    font-size: 60px;
    font-weight: bold;
    font-family: 'PT Serif', serif;
    text-align: center;
    margin-bottom: 60px;

    background: repeating-linear-gradient(white, white 0px, #7053B0 0px, #BAA7E4
    0px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_yes_first_line,
.section_yes_second_line,
.section_yes_third_line{
    text-align: center;
}
.section_yes_point{
      
}
.section_yes_second_line{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}
.section_yes_third_line{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.section_yes_point p{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 27px;
    color: #4F4F4F;
    margin-top: 20px;
}

.structer_clinick:after{
    content: "";
    display: table;
    clear: both;
}
.structer_clinick img{
    float: left;
    margin-right: 50px;
}
.structer_clinick{
    margin-top: 165px;
}
.structer_clinick_text{
    float: left;
    max-width: 70%;
    position: relative;
    top: -65px;
}
.structer_clinick_title{
    text-align: center;
    font-family: 'PT Serif';
    font-size: 35px;
    color: #4F4F4F;
    font-weight: bold;
}
.structer_clinick_descr{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 30px;
    color: #4F4F4F;
    padding-top: 20px;
}
.clock{
    padding-top: 100px;
}
.clock img{
    display: block;
    margin: 0 auto;
}

.doctor_rom{
    position: relative;
    height: 1214px;
    background: url('img/doctor_rom.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.doctor_rom .doctor_text_block{
    position: absolute;
    top: 25%;
    right: 25%;
    max-width: 630px;
}
.doctor_rom .title_doctor{
    font-family: 'PT Serif', serif;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}
.doctor_rom .doctor_descr{
    font-family: 'PT Serif', serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    line-height: 57px;
}
/*custom_btn_record*/
.btn_record_wrap{
    background-color: #fff;
    border-radius: 30px;
    height: 80px;
    padding: 0 23px;
    margin-top: 115px;
}
.custom_btn_record{
    display: block;
    background: linear-gradient(351.17deg, #7053B0 -76.43%, #BAA7E4 307.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
    text-align: center;
    
    font-family: 'PT Serif', serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
}
/**/
.section_head_price{
    font-size: 50px;
    color: #4F4F4F;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 78px;
}
.section_price{
    margin-top: 5px;
}

.prices_list{
    max-width: 1038px;
    margin: 0 auto;
    list-style: none;
}
.prices_list .price_item{
    margin-bottom: 65px;
}
.prices_list .price_item:last-child{
    margin-bottom: 0;
}
.price_item{
    font-family: 'PT Sans Caption', sans-serif;
    color: #4F4F4F;
    font-size: 30px;
    font-weight: bold;
}
.price_item span{
    display: inline-block;
    padding-left: 28px;
    max-width: 90%;
    vertical-align: middle;
}
.price_item:before{
    content: '';
    display: inline-block;
    background: url('img/price_item.svg');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.section_time{
    margin-top: 100px;
}
.line{
    background: url('img/line.svg');
    height: 35px;
    margin-top: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* btn */
.time_learn_btn{
    position: relative;
    max-width: 320px;
    margin: 30px auto 0 auto;
    border-radius: 30px;
    background: #FFFFFF;
}
.time_learn_btn:before{
    content: "";
    position: absolute;
    background: linear-gradient(124.4deg, #A18CD1 28.55%, #FBC2EB 110.37%);

    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 34px;
    z-index: -1;
}
.time_learn_btn span{
    font-family: 'PT Serif', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(111.61deg, #7053B0 24.74%, #BAA7E4 94.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-align: center;
    padding: 14px 0;
}
/**/
.section_why_not{
    margin-top: 75px;
}
.why_not_textblock{
    max-width: 1170px;
    margin: 0 auto;
}
.why_not_head{
    font-family: 'PT Serif';
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(0.02deg, #7053B0 0.01%, #BAA7E4 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.04em;
}
.why_not_text1{
    padding-top: 35px;
    padding-bottom: 40px;
}
.why_not_text1,
.why_not_text2
{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 30px;
    text-align: left;
    color: #4F4F4F;
    
}
.why_not_text2{
    padding-top: 40px;
}
.why_not_imgs{
    display: flex;
    justify-content: space-between;
}

.doctor_ang{
    position: relative;
    height: 1214px;
    background: url('img/doctor_ang.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.doctor_ang .doctor_text_block{
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 760px;
}
.doctor_ang .title_doctor{
    font-family: 'PT Serif', serif;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}
.doctor_ang .doctor_descr{
    font-family: 'PT Serif', serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    line-height: 57px;
}
.doctor_ang .btn_record_wrap{
    max-width: 558px;
}
.section_more_words{
    margin-top: 60px;
}
.more_words_title{
    background: linear-gradient(111.61deg, #7053B0 24.74%, #BAA7E4 94.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'PT Serif', serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.before_after_block{
    max-width: 1070px;
    margin: 75px auto 0 auto;
}
.before_after_block .before_after_item{
    position: relative;
    margin-bottom: 42px;
}
.before_after_block .before_after_item:last-child{
    margin-bottom: 0;
}
.before_after_item:before{
    content: '';
    position: absolute;
    background: url('img/ba_img.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 214px;
    height: 132px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.before_after_item img:first-child{
    float: left;
}
.before_after_item img:last-child{
    float: right;
}
.before_after_item:after{
    content: '';
    clear: both;
    display: table;   
}

.section_attention{
    margin-top: 45px;
}
.attention_head{
    font-family: 'PT Serif';
    font-weight: bold;
    font-size: 42px;
    /* or 60px */

    text-align: center;
    letter-spacing: 0.04em;

    color: #7A7A7A;

    text-shadow: 2px 2px 22px #AF8FFB;
}
.bottom_section{
    position: relative;
    background: #FBFBFB;
    background: url(img/bottom_fon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    margin-top: 60px;
}
.attention_block img{
    position: absolute;
    width: 45%;
    bottom: 0;
    max-width: 900px;
}
.attention_block{
    position: relative;
}
.attention_block:after{
    content: '';
    clear: both;
    display: table;
}
.attention_text{
    width: 55%;
    float: right;
    margin-top: 110px;
    padding-bottom: 125px;
}

.attention_text ul{
    list-style: none;
}
.attention_text ul li{
    font-family: 'PT Sans Caption';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-align: left;
    color: #4F4F4F;
    margin-bottom: 50px;
}
.attention_text ul li:last-child{
    margin-bottom: 0;
}
.attention_text ul li:before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: linear-gradient(124.4deg, #A18CD1 28.55%, #FBC2EB 110.37%);
    border-radius: 50%;
    vertical-align: middle;
}
.attention_text ul li span{
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    max-width: 60%;
}

.bottom_section .bottom_fon{
    /* position: absolute;
    right: 0;
    top: 0; */
}
